<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>运动</key>
	<array>
		<string>滚动&amp;QBallRoll</string>
		<string>停止&amp;QBallStop</string>
	</array>
	<key>动作</key>
	<array>
		<string>还原</string>
		<string>旋转&amp;QBallRotate</string>
		<string>旋转率&amp;QBallRotateRate</string>
		<string>稳定&amp;QBallStabilization</string>
		<string>马达&amp;QBallMotor</string>
	</array>
	<key>时间</key>
	<array>
		<string>循环&amp;QBallLoop</string>
		<string>循环&amp;QBallLoopEnd</string>
		<string>延时&amp;QBallDelay</string>
		<string>到时停&amp;QBallWaitStop</string>
	</array>
	<key>光</key>
	<array>
		<string>调色&amp;QBallColor</string>
		<string>渐隐&amp;QBallFade</string>
		<string>背光</string>
	</array>
</dict>
</plist>
