<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>运动</key>
	<array>
		<string>滚动&amp;QBallRoll</string>
		<string>停止&amp;QBallStop</string>
	</array>
	<key>动作</key>
	<array>
		<string>还原</string>
		<string>旋转</string>
		<string>旋转率</string>
		<string>稳定</string>
		<string>马达</string>
	</array>
	<key>时间</key>
	<array>
		<string>延时</string>
		<string>到时停</string>
	</array>
	<key>光</key>
	<array>
		<string>调色&amp;QBallColor</string>
		<string>渐隐&amp;QBallFade</string>
		<string>背光</string>
	</array>
</dict>
</plist>
