<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QBallLoopEnd</key>
	<dict>
		<key>param</key>
		<array>
			<string>次数&amp;0&amp;100</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallLoop</key>
	<dict>
		<key>param</key>
		<array>
			<string>次数&amp;0&amp;100</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallEmit</key>
	<dict>
		<key>param</key>
		<array>
			<string>标识&amp;0&amp;255</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallMotor</key>
	<dict>
		<key>param</key>
		<array>
			<string>左马达&amp;switch</string>
			<string>左速度&amp;0&amp;255</string>
			<string>右马达&amp;switch</string>
			<string>有速度&amp;0&amp;255</string>
			<string>延迟&amp;0&amp;10000</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallStabilization</key>
	<dict>
		<key>param</key>
		<array>
			<string>设置&amp;switch</string>
			<string>延迟&amp;0&amp;10000</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QRotateRate</key>
	<dict>
		<key>param</key>
		<array>
			<string>比率&amp;0&amp;100</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallOrientation</key>
	<dict>
		<key>param</key>
		<array>
			<string>朝向&amp;0&amp;360</string>
			<string>延迟&amp;0&amp;10000</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallRotate</key>
	<dict>
		<key>param</key>
		<array>
			<string>角度&amp;0&amp;360</string>
			<string>持续&amp;0&amp;10000</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallWaitStop</key>
	<dict>
		<key>param</key>
		<array>
			<string>延迟&amp;0&amp;10000</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallDelay</key>
	<dict>
		<key>param</key>
		<array>
			<string>延迟&amp;0&amp;10000</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallFade</key>
	<dict>
		<key>param</key>
		<array>
			<string>红&amp;0&amp;255</string>
			<string>绿&amp;0&amp;255</string>
			<string>蓝&amp;0&amp;255</string>
			<string>持续&amp;0&amp;10000</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallColor</key>
	<dict>
		<key>param</key>
		<array>
			<string>红&amp;0&amp;255</string>
			<string>绿&amp;0&amp;255</string>
			<string>蓝&amp;0&amp;255</string>
			<string>延迟0&amp;10000</string>
		</array>
		<key>remark</key>
		<string></string>
	</dict>
	<key>QBallRoll</key>
	<dict>
		<key>remark</key>
		<string>指令说明</string>
		<key>param</key>
		<array>
			<string>速度&amp;0&amp;100</string>
			<string>角度&amp;0&amp;359</string>
			<string>延迟&amp;0&amp;10000</string>
		</array>
	</dict>
	<key>QBallStop</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>param</key>
		<array>
			<string>延迟&amp;0&amp;10000</string>
		</array>
	</dict>
</dict>
</plist>
